[submodule "themes/soho"]
	path = themes/soho
	url = https://github.com/alexandrevicenzi/soho.git
[submodule "static/admin"]
	path = static/admin
	url = https://github.com/woliveiras/netlify-cms-base.git
